In [1]:
import os, sys
from pathlib import Path

BASE_DIR = Path(Path.home(), "workspace", "services", "credit_model")
DATA_DIR = Path(Path.home(), "workspace", "data")
if BASE_DIR not in sys.path:
    sys.path.insert(0, f"{BASE_DIR}")

In [2]:
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import toad

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
from util import woe_helper
from util import woe_mono
from util import scorebin_helper
from util import report_helper

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.width', 1000)

# 加载数据

In [6]:
fp_data = Path(DATA_DIR, 'tutorial', 'data.csv')
df_data = pd.read_csv(fp_data, index_col=None)

In [7]:
num_cols = ['Collateral_valuation', 'Age', 'Properties_Total', 'Amount', 'Term', 'Historic_Loans', 'Current_Loans', 'Max_Arrears']
cat_cols = ['Region', 'Area', 'Activity', 'Guarantor', 'Collateral', 'Properties_Status']
features = num_cols + cat_cols
label = 'Defaulter'

In [8]:
for c in cat_cols:
    df_data.loc[:, c] = df_data.loc[:, c].apply(lambda x: str(f"cat_{x}"))

# 获得分箱和编码

In [9]:
woe = woe_helper.WOE()
woe.fit(df_data, label, exclude=['AppNo', label], method='dt')

100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 54.80it/s]

finish combiner fit
finish combiner transform

100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 59.20it/s]

finish WOE fit

In [10]:
df_woe = woe.transform(df_data)
df_bin = woe.transform(df_data, bin_only=True)

100%|█████████████████████████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 111.14it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 124.95it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 14/14 [00:00<00:00, 118.02it/s]

# 特征统计报表和区分度报表

In [11]:
df_report = report_helper.FTReport.get_report(df_bin, features, label)

In [12]:
df_eval = report_helper.FTReport.eval_metrics(df_woe, features, label)

In [13]:
df_combined_report = df_report.merge(df_eval, on='feature', how='left')
df_combined_report.head(100)

                 feature                    bin  total_pct  total   bad  bad_rate        iv       auc        ks
0   Collateral_valuation     00.[-inf ~ 2057.0)    0.15534   7767   657  0.084589  0.157705  0.602955  0.161100
1   Collateral_valuation   01.[2057.0 ~ 4571.0)    0.17190   8595   988  0.114951  0.157705  0.602955  0.161100
2   Collateral_valuation   02.[4571.0 ~ 8324.5)    0.11508   5754   884  0.153632  0.157705  0.602955  0.161100
3   Collateral_valuation  03.[8324.5 ~ 13823.5)    0.06604   3302   604  0.182919  0.157705  0.602955  0.161100
4   Collateral_valuation     04.[13823.5 ~ inf)    0.06090   3045   891  0.292611  0.157705  0.602955  0.161100
5   Collateral_valuation                 05.nan    0.43074  21537  4195  0.194781  0.157705  0.602955  0.161100
6                   None                   None        NaN   None  None       NaN       NaN       NaN       NaN
7                    Age       00.[-inf ~ 27.5)    0.10460   5230  1316  0.251625  0.096882  0.586670  0.133332
8                    Age       01.[27.5 ~ 34.5)    0.18576   9288  1940  0.208872  0.096882  0.586670  0.133332
9                    Age       02.[34.5 ~ 41.5)    0.21740  10870  1833  0.168629  0.096882  0.586670  0.133332
10                   Age       03.[41.5 ~ 47.5)    0.20884  10442  1445  0.138383  0.096882  0.586670  0.133332
11                   Age        04.[47.5 ~ inf)    0.28340  14170  1685  0.118913  0.096882  0.586670  0.133332
12                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
13      Properties_Total        00.[-inf ~ 1.5)    0.41566  20783  4549  0.218881  0.111615  0.585945  0.164924
14      Properties_Total         01.[1.5 ~ 2.5)    0.33932  16966  2213  0.130437  0.111615  0.585945  0.164924
15      Properties_Total         02.[2.5 ~ inf)    0.24502  12251  1457  0.118929  0.111615  0.585945  0.164924
16                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
17                Amount     00.[-inf ~ 3481.5)    0.30768  15384  1608  0.104524  0.188771  0.618911  0.185991
18                Amount   01.[3481.5 ~ 7483.0)    0.33040  16520  2359  0.142797  0.188771  0.618911  0.185991
19                Amount   02.[7483.0 ~ 9868.5)    0.11024   5512   987  0.179064  0.188771  0.618911  0.185991
20                Amount  03.[9868.5 ~ 16920.0)    0.13662   6831  1574  0.230420  0.188771  0.618911  0.185991
21                Amount     04.[16920.0 ~ inf)    0.11506   5753  1691  0.293934  0.188771  0.618911  0.185991
22                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
23                  Term       00.[-inf ~ 13.5)    0.17556   8778   930  0.105947  0.302809  0.638952  0.249529
24                  Term       01.[13.5 ~ 22.5)    0.19900   9950  1191  0.119698  0.302809  0.638952  0.249529
25                  Term       02.[22.5 ~ 29.5)    0.32148  16074  1886  0.117332  0.302809  0.638952  0.249529
26                  Term       03.[29.5 ~ 37.5)    0.16342   8171  1833  0.224330  0.302809  0.638952  0.249529
27                  Term        04.[37.5 ~ inf)    0.14054   7027  2379  0.338551  0.302809  0.638952  0.249529
28                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
29        Historic_Loans        00.[-inf ~ 1.5)    0.24726  12363  2702  0.218555  0.113263  0.588894  0.139632
30        Historic_Loans         01.[1.5 ~ 2.5)    0.17216   8608  1652  0.191914  0.113263  0.588894  0.139632
31        Historic_Loans         02.[2.5 ~ 3.5)    0.13296   6648  1145  0.172232  0.113263  0.588894  0.139632
32        Historic_Loans         03.[3.5 ~ 8.5)    0.32694  16347  2225  0.136111  0.113263  0.588894  0.139632
33        Historic_Loans         04.[8.5 ~ inf)    0.12068   6034   495  0.082035  0.113263  0.588894  0.139632
34                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
35         Current_Loans        00.[-inf ~ 1.5)    0.41842  20921  3583  0.171263  0.006786  0.522141  0.036870
36         Current_Loans         01.[1.5 ~ 2.5)    0.19852   9926  1578  0.158976  0.006786  0.522141  0.036870
37         Current_Loans         02.[2.5 ~ inf)    0.15352   7676  1371  0.178609  0.006786  0.522141  0.036870
38         Current_Loans                 03.nan    0.22954  11477  1687  0.146990  0.006786  0.522141  0.036870
39                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
40           Max_Arrears        00.[-inf ~ 0.5)    0.60914  30457  4937  0.162097  0.060472  0.555532  0.073626
41           Max_Arrears        01.[0.5 ~ 37.5)    0.18388   9194  1195  0.129976  0.060472  0.555532  0.073626
42           Max_Arrears      02.[37.5 ~ 133.5)    0.10644   5322   755  0.141864  0.060472  0.555532  0.073626
43           Max_Arrears       03.[133.5 ~ inf)    0.10054   5027  1332  0.264969  0.060472  0.555532  0.073626
44                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
45                Region              00.cat_10    0.28272  14136   734  0.051924  0.460878  0.671175  0.280022
46                Region       01.cat_11,cat_14    0.14862   7431   888  0.119499  0.460878  0.671175  0.280022
47                Region  02.cat_12,cat_8,cat..    0.29666  14833  3049  0.205555  0.460878  0.671175  0.280022
48                Region  03.cat_1,cat_7,cat_..    0.16430   8215  1912  0.232745  0.460878  0.671175  0.280022
49                Region  04.cat_4,cat_2,cat_..    0.10770   5385  1636  0.303807  0.460878  0.671175  0.280022
50                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
51                  Area  00.cat_90,cat_75,ca..    0.21948  10974   995  0.090669  0.145857  0.602283  0.144408
52                  Area  01.cat_80,cat_85,ca..    0.12628   6314   940  0.148876  0.145857  0.602283  0.144408
53                  Area  02.cat_70,cat_5,cat..    0.31500  15750  2504  0.158984  0.145857  0.602283  0.144408
54                  Area  03.cat_20,cat_60,ca..    0.19688   9844  1969  0.200020  0.145857  0.602283  0.144408
55                  Area       04.cat_10,cat_35    0.14236   7118  1811  0.254425  0.145857  0.602283  0.144408
56                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
57              Activity  00.cat_17.0,cat_14...    0.33172  16586  1331  0.080248  0.344653  0.657618  0.218288
58              Activity    01.cat_18.0,cat_nan    0.12140   6070   894  0.147282  0.344653  0.657618  0.218288
59              Activity    02.cat_1.0,cat_15.0    0.30890  15445  2545  0.164778  0.344653  0.657618  0.218288
60              Activity  03.cat_19.0,cat_3.0..    0.13606   6803  1673  0.245921  0.344653  0.657618  0.218288
61              Activity  04.cat_9.0,cat_8.0,..    0.10192   5096  1776  0.348509  0.344653  0.657618  0.218288
62                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
63             Guarantor         00.cat_1,cat_0    1.00000  50000  8219  0.164380  0.000000  0.500000  0.000000
64                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
65            Collateral               00.cat_1    0.56926  28463  4024  0.141377  0.036672  0.547667  0.095334
66            Collateral               01.cat_0    0.43074  21537  4195  0.194781  0.036672  0.547667  0.095334
67                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN
68     Properties_Status               00.cat_B    0.63996  31998  4522  0.141321  0.070845  0.562709  0.107431
69     Properties_Status               01.cat_D    0.22186  11093  1935  0.174434  0.070845  0.562709  0.107431
70     Properties_Status         02.cat_A,cat_C    0.13818   6909  1762  0.255030  0.070845  0.562709  0.107431
71                  None                   None        NaN   None  None       NaN       NaN       NaN       NaN